.one {
    width: 200px;
    height: 45px;
    margin-left: 70px;
}

li {

    color: grey;
    display: inline;
    margin-left: 20px;
    font-size: 20px;
}

ul :hover {
    cursor: pointer;
    color: red;
}

ul {
    display: inline;

    margin-left: 55px;
}

.A {
    display: flex;
    margin-bottom: 10px;
}

.B {
    width: 20x;
    height: 20px;
    padding-left: 40px;
    padding-top: 20px;
}

.student {
    background-image: url('classroom.jpg');
    background-color: rgb(0,0,255,0.5); 
    background-blend-mode: overlay;
    display: flex;
    margin-top: 20px;
    height: 600px;
    
     
    
    
       


}

.img1 {
    
    padding: 10px;
    background-color: white;
     margin-top:50px ;
     
}

.E {
   width: 40%;
   padding: 50px;
   
}





.D {
  width: 60%;
  margin-top: 100px;
}

    


.F {
    display: block;
    font-size: 35px;
    padding: 10px;
    
    margin-left: 100px;

    font-family:  sans-serif;
    color:white;
}
.bar{
    margin-top: 1px;
    background-color: #003E53;
    padding: 20px;
    color: white;
    font-size: 25px;
    font-family: "Prompt", sans-serif;
    padding-left: 280px;
    display: flex;
    justify-content: space-around;
   
    
}
.three{
    background-color:#17ff00;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}
.three:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color:black;
}
.five{
    width: 60%;
    padding: 30px;
    
}
.head{
    display:flex;
    margin-top: 100px;
    background-color: blue;
    border-radius: 10px;
    height: 420px;

}
.container{
    width: 40%;
}

.file{
    height:600px;
    position: relative;
    top: -180px;
    left: 80px;
}

.L{
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 200px;
    
}
.ab{
    display: flex;

    background-image: url(https://watermark.lovepik.com/photo/40014/9573.jpg_wh1200.jpg);
background-size: 100%;
margin-top: 50px;

    
    
    
    

}
.form{
    width: 50%;
    text-align: center;
    padding: 60px;
    }
.joy{
width: 50%;
padding: 60px;


}
.op{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: white;

}
span i{
    padding-right: 30px;
}


.jk{
display: block;
padding: 10px;
font-family: sans-serif;
font-size: 25px;
font-weight: bold;
color: white;
}
.boy{
display: flex;
gap: 20px;
justify-content: center;


}
.girl{
text-align: center;
font-size: 20px;
color: #f96c39;
}
.king{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}
.queen{
    background-color: rgb(180, 228, 212);
    padding: 20px;
    
}
.crown{
    
    background-color: #003E53;
    color: white;
    display: flex;
    font-family: "Prompt", sans-serif;
    justify-content: center;
    padding-top: 10px;
    
    
    
    
   

}
.ace{
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 400px;
   border-radius: 10px; 
   padding: 15px;
   color: black;
   cursor: pointer;
   background-color:#17ff00;
   
   
   width: 200px;
   
   font-size: 15px;
}
.ace:hover{
    background-color:white;
    color:rgb(125, 192, 125);
}
.gold{
    display: block;
    margin-top: 10px;
   
}
.silver{
    text-align: center;
    background-color:  #3a3a3a; 
    padding: 40px;
    margin-top: 30px;
    color: white;
}
.book{
width: 50%;

}
.pen{
width: 50%;
text-align: center;
padding: 50px;
font-size: 20px;
}
.water{
    display: flex;
    padding: 100px;
}
.owl{
    border-radius: 10px; 
    padding: 15px;
    color: green;
    cursor: pointer;
    margin-top: 50px;
    border-color: rgb(171, 226, 171);
    width: 200px;
    border: solid;
    font-size: 15px;
}
.owl:hover{
    background-color: green;
    color: white;
}

.bag{
    display: flex;
    padding: 30px;
}
.pipe{
    border-radius: 10px; 
    padding: 15px;
    color: green;
    cursor: pointer;
    margin-top: 50px;
    border-color: rgb(171, 226, 171);
    width: 200px;
    
    font-size: 18px;
    border: solid;
}
.pipe:hover{
    background-color: green;
    color: white;
}

.plate{
    font-size: 21px;
text-align: center;
padding: 50px;
}
.wood{
    width: 50%;
}
.fox{
    width: 50%;

}
.tree{
    display: flex;
}
.bear{
    width: 70%;
    margin-top: 3%;
    height: 20px;
    margin-left: 25%;
}
.dog{
    text-align: center;
}
.you{
    background-color:rgb(201, 198, 198);
    color: #f96c39;
    height:300px;
    
}
.eagle{
    width: 100%;
    margin-top: 4%;

    height: 20px;
    
}
.cow{
    width: 40%;
    text-align: center;
}
.goat{
    display: flex;
    gap: 20px;
    justify-content: center;
    color: gray;
    font-size: 30px;
}
.lion{
    color: gray;
    font-size: 30px;
    
}
.tomato{
width: 60%;
display: flex;
justify-content: center;

}
.football{
    display: flex;
}
.hen{
    display: flex;
    padding: 30px;
}
.potato{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.onion{
    text-align: center;
    padding: 40px;
    margin-left: 50px;
    background-color: rgb(236, 174, 195);
    font-size: 30px;
}
.donkey{

    margin-top: 20px; 
    padding: 10px; 
    margin-left: 50px;
     background-color: rgb(75, 214, 75); 
     color: white;
      border: solid;
     
}
.donkey:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}
.bond{
background-color: #3a3a3a;
height:70px;
text-align: center;

font-size: 20px;
color: rgb(173, 149, 149);

}
    
    
